@page "/"

<table class="table">
    <thead>
        <tr>
            <th>ISO A2</th>
            <th>Country Name</th>
            <th>Small</th>
            <th>Normal</th>
            <th>Large</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Blazor.Flags.Country c in GetCountrys())
        {
            <tr>
                <td>@c.ToString()</td>
                <td>@c.Name()</td>
                <td><CountryFlag InputType="InputType.ISOA2" ISOA2="@c.ToString()" Size="FlagSize.Small"></CountryFlag></td>
                <td><CountryFlag Country="@c" Size="FlagSize.Normal"></CountryFlag></td>
                <td><CountryFlag Country="@c" Size="FlagSize.Large"></CountryFlag></td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<Country> GetCountrys()
    {
       return Enum.GetValues(typeof(Country)).Cast<Country>().ToList();
    }
}
